* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: rgb(16, 16, 24);
  --text-color: #ffffff;
  --primary-color: rgb(43, 40, 172);
  --link-color: rgb(33, 90, 214);
  --secondary-color: rgb(255, 174, 0);
}

@font-face {
  font-family: "light-text";
  src: url("../fonts/IRANSansWeb\(FaNum\)_Light.ttf");
}

@font-face {
  font-family: "regular-text";
  src: url("../fonts/IRANSansWeb.ttf");
}

@font-face {
  font-family: "bold-text";
  src: url("../fonts/IRANSansWeb_Bold.ttf");
}

@font-face {
  font-family: "black-text";
  src: url("../fonts/IRANSansWeb_Black.ttf");
}

@font-face {
  font-family: "funum-regular";
  src: url("../fonts/IRANSansWeb\(FaNum\).ttf");
}

@font-face {
  font-family: "funum-bold";
  src: url("../fonts/IRANSansWeb\(FaNum\).ttf");
}

@font-face {
  font-family: "funum-black";
  src: url("../fonts/IRANSansWeb\(FaNum\)_Black.ttf");
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "regular-text";
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 40px;
  justify-content: center;
  padding: 40px 10%;
}

.header .logo a {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .navbar-ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.header .navbar-ul li a {
  font-family: "bold-text";
  font-size: 15px;
  color: var(--text-color);
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.header .navbar-ul li a:hover {
  color: var(--secondary-color);
}

.main-content {
  padding: 70px 15%;
  width: 100%;
}

/* TOP-BANNER */

.top-banner {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    closest-side,
    rgba(47, 0, 255, 0.21),
    rgb(16, 16, 24)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

/* TOP-BANNER @RIGHT */
.top-banner .top-banner-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.top-banner .top-banner-description img {
  width: 300px;
}

.top-banner .top-banner-description h1 {
  font-family: "black-text";
  font-size: 28px;
}

.top-banner .top-banner-description p {
  font-family: "light-text";
  font-size: 15px;
  margin-top: 10px;
}

.top-banner .top-banner-description .skills {
  display: flex;
  gap: 45px;
  margin-top: 30px;
}

.top-banner .top-banner-description .skills .skills-card i {
  font-size: 40px;
}

.top-banner .top-banner-description .skills .skills-card:first-child:hover {
  color: rgb(161, 76, 240);
}

.top-banner .top-banner-description .skills .skills-card:nth-child(2):hover {
  color: rgb(250, 81, 51);
}

.top-banner .top-banner-description .skills .skills-card:nth-child(3):hover {
  color: greenyellow;
}
.top-banner .top-banner-description .skills .skills-card:nth-child(4):hover {
  color: yellow;
}
.top-banner .top-banner-description .skills .skills-card:nth-child(5):hover {
  color: skyblue;
}
.top-banner .top-banner-description .skills .skills-card:nth-child(6):hover {
  color: rgb(49, 194, 49);
}

.top-banner .top-banner-description .skills .skills-card:last-child:hover {
  color: var(--link-color);
}

/* BLOG */
.blog-section-single {
  margin-top: 100px;
  padding: 50px 15%;
}

.blog-section {
  margin: 55px 0;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 15px;
}

.blog-card {
  background: rgba(255, 255, 255, 0.04); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;

  text-align: right;
  position: relative;
  transition: all 0.5s ease; /* Smooth transition */
}

.blog-card h3 {
  font-size: 19px;
  font-family: "black-text";
}

.blog-card p {
  font-size: 13px;
  text-align: justify;
  line-height: 2;
  margin-bottom: 5px;
}

.blog-card img {
  width: 100%;
}

.blog-card img:hover {
}

.blog-card-content {
  padding: 20px 25px;
}

.readmore-blog {
  color: var(--text-color);
  font-size: 13px;
  background-color: var(--bg-color);
  padding: 4px 7px;
  border-radius: 3px;
  transition: all ease-in-out 0.2s;
  font-family: "black-text";
}

.readmore-blog:hover {
  background-color: var(--primary-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-footer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-footer a {
  color: var(--text-color);
  font-size: 28px;
}

/* ERRORS */

.errors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.errors h1 {
  font-size: 72px;
  font-weight: 900;
}

.errors h4 {
  font-size: 30px;
  color: var(--secondary-color);
}

/* CREATE FORM */

.create-post-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}

.create-post-form input {
  padding: 10px;
  font-family: "regular-text";
}

.create-post-form textarea {
  resize: none;
  height: 200px;
  padding: 10px;
  font-family: "regular-text";
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-post-form button {
  padding: 7px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "regular-text";
  cursor: pointer;
}

.single-post {
  padding: 100px 15%;
}
